<mat-toolbar color="primary">

  <span>CRUD APPLICATION</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openAddEditEmpForm()">ADD EMPLOYEE</button>
  <!-- <button mat-raised-button color="warn" (click)="getEmployees()">Get EMPLOYEES</button> -->
  
    
  
</mat-toolbar>
<!-- <router-outlet></router-outlet> -->
<!-- <a routerLink="/home" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" href="/home">Home</a> -->

<!-- <table>
  <thead>
    <tr>
      <th>firstName</th>
      <th>lastName</th>
      <th>email</th>
      <th>dob</th>
      <th>gender</th>
      <th>education</th>
      <th>company</th>
      <th>experiance</th>
      <th>package</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of empForm">
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.email}}</td>
      <td>{{item.dob}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.education}}</td>
      <td>{{item.company}}</td>
      <td>{{item.experiance}}</td>
      <td>{{item.package}}</td>
    </tr>
  </tbody>
</table> -->


<div class="main-body">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Search Data" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Birth </th>
        <td mat-cell *matCellDef="let row"> {{row.dob | date}} </td>
      </ng-container>
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
        <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
      </ng-container>
      <ng-container matColumnDef="education">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Education </th>
        <td mat-cell *matCellDef="let row"> {{row.education}} </td>
      </ng-container>
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
        <td mat-cell *matCellDef="let row"> {{row.company}} </td>
      </ng-container>
      <ng-container matColumnDef="experiance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Experiance </th>
        <td mat-cell *matCellDef="let row"> {{row.experiance}} </td>
      </ng-container>
      <ng-container matColumnDef="package">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Package </th>
        <td mat-cell *matCellDef="let row"> {{row.package | currency:'INR'}}L.P.A </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="editEmpForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteEmp(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>

<!-- <div appHover="red">
  Hover me to change color to red!
</div>

<div appHover="blue">
  Hover me to change color to blue!
</div> -->

<!-- You can also bind the color dynamically based on a variable in your component -->
<!-- <div [appHover]="dynamicColor">
  Hover me to change color dynamically!
</div> -->