.content {
    padding-top: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

mat-form-field {
    width: 100%;
}



.action button {
    flex: 4;
    padding: 1.5rem;
    margin: 1rem;
}